a.navbar-brand {
  font-weight: 800;
  font-size: 4rem;
  font-family: "Cookie", cursive;
  margin-left: 5%;
  color: #e3420c !important;
}

a.nav-link {
  padding: 2%;
  min-height: 2rem;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  text-align: right;
}

a.nav-link:hover {
  color: #e3420c !important;
}

.fab.fa-instagram.fa-2x {
  padding-top: 10%;
}
.sidebar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  margin: 2%;
}
@media (min-width: 992px) {
  .sidebar {
    max-width: 90% !important;
    display: flex;
  
  }
  nav.sidebar.navbar {
    height: 90vh;
    padding-right: 5rem;
    flex-direction: column;
  }
  a.navbar-brand {
    flex-direction: column;
    margin-left: 10%;
  }
  a.nav-link {
    display: inline-block;
    position: relative;
    width: 150%;
    top: -10rem;
    right: -3rem;
    font-size: 1.5rem;
    justify-content: flex-start;
    margin: 20px 10px 10px 10px;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }

}
