.sidebar {
  display: flex;
  align-items: flex-start;
  margin: 2%;
}

nav.sidebar.navbar {
  background-color: #f9f8f8 !important;
}

a.nav-header.brand.navbar-brand {
  font-weight: 800;
  font-size: 4rem;
  font-family: "Cookie", cursive;
  margin-bottom: 3%;
  margin-left: 5%;
  color: #e3420c;
}

a.nav-link {
  padding: 2%;
  min-height: 2rem;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  text-align: right;
}

a.nav-link:hover {
  color: #e3420c !important;
  text-decoration: underline;
}

.fab.fa-instagram.fa-2x {
  padding-top: 10%;
}

button.navbar-toggler {
  margin-top: 30px;
  padding: 3%;
}

@media (min-width: 768px) {
  div.collapse.navbar-collapse {
    margin-top: 15%;
  }
  li.nav-item{
    white-space: nowrap;
    margin-right: 1%;
  }
}

@media (min-width: 1350px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }
  nav.sidebar.navbar {
    height: 95vh;
    padding-right: 5rem;
  }
  .sidebar {
    max-width: 15%;
    display: flex;
  }
  .nav-header {
    padding: 1%;
    font-size: 1.35rem;
    margin-left: 5%;
  }
  a.nav-link {
    display: inline-block;
    position: relative;
    top: 5rem;
    width: 140%;
    font-size: 1.25rem;
    padding: 7%;
  }
}
