.navbar {
  min-width: 100%;
}
a.navbar-brand {
  font-weight: 800;
  font-size: 4rem;
  font-family: "Cookie", cursive;
  margin-left: 5%;
  color: #e3420c !important;
}
a.nav-link {
  padding: 2%;
  min-height: 2rem;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  text-align: right;
}
a.nav-link:hover {
  color: #e3420c !important;
}
button.navbar-toggler {
  margin-top: 3%;
  padding: 3%;
  border: 1px solid darkgrey;
}
.fab.fa-instagram.fa-2x {
  padding-top: 10%;
}

@media (min-width: 992px) {
  .sidebar {
    display: flex;
  }
  nav.sidebar.navbar {
    height: 95vh;
    padding-right: 5rem;
    flex-direction: column;
  }
  a.navbar-brand {
    flex-direction: column;
  }
  a.navbar-brand {
    margin-left: 0;
  }
  a.nav-link {
    /* display: inline-block; */
    /* position: relative; */
    /* width: 125%; */
    /* top: -15rem; */
    /* right: -1rem; */
    font-size: 1.5rem;
    margin: 20px 10px 10px 10px;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }
}
